<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/echarts.min.js"></script>

    <link rel="stylesheet" href="./css/page2.css" type="text/css" />.

    <script>

        function run(){
            var time = new Date();//获取系统当前时间
            var year = time.getFullYear();
            var month = time.getMonth()+1;
            var date= time.getDate();//系统时间月份中的日
            var day = time.getDay();//系统时间中的星期值
            var weeks = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
            var week = weeks[day];//显示为星期几
            var hour = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            if(month<10){
                month = "0"+month;
            }
            if(date<10){
                date = "0"+date;
            }
            if(hour<10){
                hour = "0"+hour;
            }
            if(minutes<10){
                minutes = "0"+minutes;
            }
            if(seconds<10){
                seconds = "0"+seconds;
            }
            //var newDate = year+"年"+month+"月"+date+"日"+week+hour+":"+minutes+":"+seconds;
            document.getElementById("date").innerHTML = year+"-"+month+"-"+date+"  "+hour+":"+minutes+":"+seconds;
            setTimeout('run()',1000);
        }

        $(document).ready(function(){
            run();
            echartsBar();
        })

        function echartsBar() {
            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    textStyle: {
                        fontSize:35
                    },
                },
                dataZoom: [
                    {
                        type: 'slider',
                        show: true,
                        xAxisIndex: [0],
                        start: 1,
                        end: 99
                    },
                    {
                        type: 'inside',
                        xAxisIndex: [0],
                        start: 1,
                        end: 99
                    }
                ],
                legend: {
                    data: ['移网', '宽带', '融合'],
                    align: 'left',
                    right: '2%',
                    textStyle: {
                        color: "#000",
                        fontSize:35
                    },
                    itemWidth: 30,
                    itemHeight: 30,
                    itemGap: 35
                },
                grid:{
                    top:50,
                    bottom:80,
                },
                xAxis: [{
                    type: 'category',
                    data: ['太原',
                        '大同',
                        '朔州',
                        '阳泉',
                        '长治',
                        '晋城',
                        '忻州',
                        '吕梁',
                        '晋中',
                        '临汾 ',
                        '运城'
                    ],
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: "#063374",
                            width: 1,
                            type: "solid"
                        }
                    },
                    axisTick: {
                        show: true,
                    },
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: "#837D74",
                            fontSize:30,
                        }
                    },
                }],
                yAxis: [{
                    name:'(人员)',
                    nameTextStyle:{
                        fontSize:30
                    },
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}',
                        textStyle: {
                            color: "#837D74",
                            fontSize:30,
                        }
                    },
                    axisTick: {
                        show: true,
                    },
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: "#837D74",
                            width: 3,
                            type: "solid"
                        },
                    },
                    splitLine: {
                        show:false,
                        lineStyle: {
                            color: "#837D74",
                        }
                    }
                }],
                series: [{
                    name: '移网',
                    type: 'bar',
                    data: [200, 500, 800, 580, 830, 680,680, 570, 800, 420, 606],
                    barWidth: 15, //柱子宽度
                    axisLabel:0,
                    barGap: 1, //柱子之间间距
                    itemStyle: {
                        normal: {
                            color: '#FF5846',
                            opacity: 1,
                        }
                    }
                }, {
                    name: '宽带',
                    type: 'bar',
                    data: [500, 70, 600, 61, 705, 807, 807, 600, 602, 86, 46],
                    barWidth: 15,
                    barGap: 1,
                    itemStyle: {
                        normal: {
                            color: '#FFCB1B',
                            opacity: 1,
                        }
                    }
                }, {
                    name: '融合',
                    type: 'bar',
                    data: [700, 408, 730, 608, 503,503, 407, 50, 702, 96, 86],
                    barWidth: 15,
                    barGap: 1,
                    itemStyle: {
                        normal: {
                            color: '#6B6CEA',
                            opacity: 1,
                        }
                    }
                }]
            };
            var chart = echarts.init(document.getElementById('echartsBar'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }



    </script>
</head>
<body>
    <div class="title"><span style="float: left;font-size: 5rem;color: dimgray;font-weight: 500;">＜</span>实时监控</div>
    <div class="content-div">
        <div class="title-div">
            <span style="font-size: 3rem;float: left;font-weight: 600;">实时监控</span>
            <span style="float: right;font-size: 2.2rem;color: #A59E90;line-height: 70px;">&nbsp;单位: 户</span>
            <span style="float: right;font-size: 2.2rem;color: #A59E90;line-height: 70px;" id="date">2018-2-21 10:00:00</span>
        </div>
        <div class="list-content" style="border-bottom: solid #F8F7E6 6px;">
            <div class="list-title"><span style="color: #FB6544">● </span>移网发展</div>
            <div class="list-content-div">
                <table>
                    <tbody>
                    <tr>
                        <td rowspan="2" class="table-td1">1800</td>
                        <td style="padding-left: 35px;width: 22%">2G</td>
                        <td style="color: #EC9B8B;width: 13%">84</td>
                        <td style="width: 22%">3G</td>
                        <td style="color: #EC9B8B;text-align: right;width: 13%;">4</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 35px;width: 22%">4G</td>
                        <td style="color: #EC9B8B;">35</td>
                        <td>2I</td>
                        <td style="color: #EC9B8B;text-align: right;">35</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="list-content" style="border-bottom: solid #F8F7E6 6px;">
            <div class="list-title"><span style="color: #FEC627">● </span>宽带发展</div>
            <div class="list-content-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="table-td1">180</td>
                        <td style="padding-left: 35px;width: 22%">IPTV</td>
                        <td style="color: #EC9B8B;width: 13%">125</td>
                        <td style="width: 22%">宽带</td>
                        <td style="color: #EC9B8B;text-align: right;width: 13%">5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="list-content">
            <div class="list-title"><span style="color: #7073E6">● </span>融合发展</div>
            <div class="list-content-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="table-td1">3180</td>
                        <td style="padding-left: 35px;width: 22%">冰激凌</td>
                        <td style="color: #EC9B8B;width: 13%">65</td>
                        <td style="width: 22%">其他融合</td>
                        <td style="color: #EC9B8B;text-align: right;width: 13%">5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="echarts" style="overflow: auto">
        <div style="padding: 30px;height: 60px">
            <span style="font-size: 3rem;float: left;font-weight: 600;">发展情况</span>
        </div>
        <div style="width: 100%;height: 630px;" id="echartsBar"></div>
    </div>
</body>
</html>