<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>毛利</title>
    <link href="./grossProfit.css" type="text/css" rel="stylesheet"/>
    <script src="../jiaxing/js/jquery-3.3.1.min.js"></script>
    <script src="./echarts.min.js"></script>
</head>
<body>
<div class="grossProfit-div">
    <div class="grossProfit-div-title">毛利</div>
    <div style="height: 66px;margin-top: 17px;">
        <div class="grossProfit-div-num" style="border-right: solid 1px #eee">
            <span style="color: #FF7A6E;font-size: 27px;font-weight: bold">1,850.50</span>
            <span style="color: #FF7A6E;font-size: 14px;font-weight: bold">万元</span><br>
            <span style="color: #A0A0A0;font-size: 14px;font-weight: bold">本月完成值</span>
        </div>
        <div class="grossProfit-div-num1">
            <table class="grossProfit-div-table">
                <tr>
                    <td style="float: left">本年完成值:</td>
                    <td style="float: right">2,2939.98万元</td>
                </tr>
                <tr>
                    <td style="float: left">当月目标:</td>
                    <td style="float: right">2,112.51元</td>
                </tr>
                <tr>
                    <td style="float: left">当年目标:</td>
                    <td style="float: right">3,087.40</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div class="percent-bar-title">本月完成率</div>
        <div style="margin: 5px 0 10px;">
            <table style="width: 100%;border-spacing: 0;">
                <tr>
                    <td style="width: 85%">
                        <div class="percent-bar-div1"></div>
                        <div class="percent-bar-div2" style="width: 87.56%"></div>
                    </td>
                    <td class="percent-bar-num">
                        87.56%
                    </td>
                </tr>
            </table>
        </div>
        <div class="percent-bar-title">本年完成率</div>
        <div style="margin: 5px 0;">
            <table style="width: 100%;border-spacing: 0;">
                <tr>
                    <td style="width: 85%">
                        <div class="percent-bar-div1"></div>
                        <div class="percent-bar-div2" style="width: 59.56%"></div>
                    </td>
                    <td class="percent-bar-num">
                        59.56%
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>