<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>薪酬-客户经理</title>
    <link href="./payment.css" type="text/css" rel="stylesheet"/>
    <script src="../jiaxing/js/jquery-3.3.1.min.js"></script>
    <script src="./echarts.min.js"></script>
    <script src="./payment.js"></script>
</head>
<body>
<div>
    <div class="payment-pie">
        <div class="payment-pie-title">
            <span>薪酬变化</span>
            <span style="float: right;color: #888;font-size: 14px;font-weight: 500;padding-top: 4px;">单位：元</span>
        </div>
        <div class="payment-pie-content">
            <div class="contentLine" id="paymentLine"></div>
        </div>
    </div>
</div>
</body>
</html>