.revenueReviewTable-div{
    background-color: #FFFFff;
    border-radius: 4px;
    margin: 0 1rem 1rem;
}

.revenueReviewTable-table-content{
    padding: 1rem;
    overflow-x: auto;
}

.revenueReview-table{
    min-width: 100%;
    font-size: 1.3rem;
    color: #353535;
    text-align: center;
}

.revenueReview-table thead{
    background-color: #308efc;
    color: white;
}

.revenueReview-table tr,td{
    border: solid 1px #e0e0e0;
    padding: 1px 0.5rem;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}

tbody tr:first-child{
    background-color: #cacaca;
}