<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="base.css" type="text/css">
</head>
<body>
    <div class="base-content">
        <div class="base-form">
            <p class="base-form-p">
                <label class="base-lable">活动名称：</label><input type="text" style="width: 300px;">
            </p>
            <p class="base-form-p">
                <label class="base-lable">活动名称：</label><input type="text" style="width: 300px;">
            </p>
            <p class="base-form-p">
                <label class="base-lable">活动名称：</label><input type="text" style="width: 300px;">
            </p>
            <p class="base-form-p">
                <label class="base-lable">活动名称：</label><input type="text" style="width: 300px;">
            </p>
            <p class="base-form-p">
                <label class="base-lable">活动名称：</label><input type="text" style="width: 300px;">
            </p>
        </div>
    </div>
</body>
</html>