<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本</title>
    <link rel="stylesheet" href="test.css" type="text/css">
</head>
<body>
    <div class="base-content">
        <div class="base-screen-form">
            <table style="width: 100%">
                <tbody>
                <tr>
                    <td>应用名称: <input type="text" style="width: 150px;"/></td>
                    <td>用户姓名: <input type="text" style="width: 150px;"/></td>
                    <td>组织机构: <input type="text" style="width: 150px;"/></td>
                    <td>数据权限: <input type="text" style="width: 150px;"/></td>
                    <td align="right"><input type="button" class="submit" value="查询" /></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="padding: 0 20px">
            <table class="grid base-table" style="text-align: center;">
                <thead>
                <tr>
                    <th>地域</th>
                    <th>任务编码</th>
                    <th>任务名称</th>
                    <th>上级机构</th>
                    <th>创建人</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                </tr>
                </thead>
                <tr>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                </tr>
                <tr>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                </tr>
                <tr>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                </tr>
                <tr>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                    <td>测试1</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>