<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="base.css" type="text/css">
</head>
<body>
<div id="root">

　　<div class="item">

　　<img class="itemImg"src="../images/1.jpeg"alt=""/>

　　<div class="userInfo">

　　<img class="avatar"src="../images/gift.png"alt=""/>

　　<span class="username">牵起你的左手护着你</span>

　　</div>

　　</div>

　　<div class="item">

　　<img class="itemImg"src="../images/2.jpg"alt=""/>

　　<div class="userInfo">

　　<img class="avatar"src="../images/gift.png"alt=""/>

　　<span class="username">牵起你的左手护着你</span>

　　</div>

　　</div>

　　<div class="item">

　　<img class="itemImg"src="../images/3.jpg"alt=""/>

　　<div class="userInfo">

　　<img class="avatar"src="../images/gift.png"alt=""/>

　　<span class="username">牵起你的左手护着你</span>

　　</div>

　　</div>

　　<div class="item">

　　<img class="itemImg"src="../images/4.jpg"alt=""/>

　　<div class="userInfo">

　　<img class="avatar"src="../images/gift.png"alt=""/>

　　<span class="username">牵起你的左手护着你</span>

　　</div>

　　</div>

　　<div class="item">

　　<img class="itemImg"src="../images/5.jpeg"alt=""/>

　　<div class="userInfo">

　　<img class="avatar"src="../images/gift.png"alt=""/>

　　<span class="username">牵起你的左手护着你</span>

　　</div>

　　</div>

</div>
</body>
</html>