<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>

    <link rel="stylesheet" href="../css/forget.css" type="text/css">
</head>
<body>
<div class="forgetJabNum-div">
    <div class="forgetJabNum-div-title">错&nbsp;&nbsp;误&nbsp;&nbsp;报&nbsp;&nbsp;告</div>
    <div class="error-content">
        工号不存在或工号对应号码为空，请联系地市管理员进行密码重置
    </div>
    <button type="button" class="btn signin_btn">
        返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回
    </button>
</div>
</body>
</html>