#container {width:100%; height: 100%; }
body{
    width: 100%;
    height: 100%;
}
.amap-logo {
    right: -500px;
    left: auto !important;
    display: none;
}

.amap-copyright {
    right: -500px;
    left: auto !important;
}
body{
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}

.amap-info-content{
    background: rgba(16,43,53,0.8);
    border-radius: 6px;
}

.bottom-center .amap-info-sharp{
    border-top:8px solid rgba(16,43,53,0.8);
}