<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球漫出细分</title>
    <link rel="stylesheet" href="../css/countryOverflow.css" type="text/css">
</head>
<body>
<div class="countryOverflow-title"></div>
<div class="countryOverflow-back"></div>
<div class="countryOverflow-mapTitle"></div>
<div class="countryOverflow-map">
    <div class="countryOverflow-maLine"></div>
    <div class="countryOverflow-mapDiv">
        <div class="countryOverflow-mapEchart">
            <table style="height: 94%;margin-top: 7%;">
                <tbody>
                <tr>
                    <td colspan="2">
                        <span class="font-bold mapEchart-title"><span style="font-size: 1.25rem">性别 </span><span style="font-size: 1.1rem;" class="font-gray">比例</span></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="countryOverflow-mapEchart-div" id="barEcharts1"></div>
                    </td>
                </tr>
                <tr style="vertical-align: top">
                    <td>
                        <span style="font-size: 1.3rem;" class="font-blue">○ </span><span class="font-gray">男性</span><br>
                        <span style="font-size: 1.8rem;" id="manData">58%</span>
                    </td>
                    <td>
                        <span style="font-size: 1.3rem;" class="font-red">○ </span><span class="font-gray">女性</span><br>
                        <span style="font-size: 1.8rem;" id="womanData">42%</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="font-bold mapEchart-title"><span style="font-size: 1.25rem">年龄 </span><span style="font-size: 1.1rem;" class="font-gray">比例</span></span>
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="2">
                        <div class="countryOverflow-mapEchart-div" id="barEcharts2"></div>
                    </td>
                </tr>
                <tr style="vertical-align: top">
                    <td>
                        <span style="font-size: 1.3rem;" class="font-yellow">○ </span><span class="font-gray">0-20</span><br>
                        <span style="font-size: 1.8rem;">58%</span><br>
                        <span style="font-size: 1.3rem;" class="font-red">○ </span><span class="font-gray">40-60</span><br>
                        <span style="font-size: 1.8rem;">58%</span>
                    </td>
                    <td>
                        <span style="font-size: 1.3rem;" class="font-green">○ </span><span class="font-gray">20-40</span><br>
                        <span style="font-size: 1.8rem;">58%</span><br>
                        <span style="font-size: 1.3rem;" class="font-blue">○ </span><span class="font-gray">>60</span><br>
                        <span style="font-size: 1.8rem;">58%</span>
                    </td>
                </tr>-->
                <tr style="height: 45%;">
                    <td colspan="2">
                        <table style="width: 100%;text-align: left;height: 100%" id="ageData">
                            <tbody>
                            <tr>
                                <td class="table-td1"><16</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">16-20</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">21-25</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">26-30</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">31-35</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">36-40</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">41-50</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            <tr>
                                <td class="table-td1">>50</td>
                                <td class="table-td2">
                                    <div class="table-td2-bar">
                                        <div class="td2-bar-content" style="width: 32%"></div>
                                    </div>
                                </td>
                                <td class="table-td3">32%</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="countryOverflow-mapDiv-country" id="wordMap"></div>
        <div class="countryOverflow-mapDiv-bottom"></div>
    </div>
    <div class="countryOverflow-button-left" onclick="changeDiv(1)"></div>
    <div class="countryOverflow-button-right"></div>
</div>
<div class="countryOverflow-list">
    <div class="countryOverflow-list-title"></div>
    <div class="countryOverflow-list-AZ" onclick="AZClick()"></div>
    <div class="countryOverflow-list-AZ-content">
        <table>
            <tbody>
            <tr>
                <td onclick="tempAZ(this)">A</td>
                <td onclick="tempAZ(this)">B</td>
                <td onclick="tempAZ(this)">C</td>
                <td onclick="tempAZ(this)">D</td>
                <td onclick="tempAZ(this)">E</td>
                <td onclick="tempAZ(this)">F</td>
                <td onclick="tempAZ(this)">G</td>
                <td onclick="tempAZ(this)">H</td>
                <td onclick="tempAZ(this)">I</td>
                <td onclick="tempAZ(this)">J</td>
                <td onclick="tempAZ(this)">K</td>
                <td onclick="tempAZ(this)">L</td>
                <td onclick="tempAZ(this)">M</td>
                <td onclick="tempAZ(this)">N</td>
                <td onclick="tempAZ(this)">O</td>
                <td onclick="tempAZ(this)">P</td>
                <td onclick="tempAZ(this)">Q</td>
                <td onclick="tempAZ(this)">R</td>
                <td onclick="tempAZ(this)">S</td>
                <td onclick="tempAZ(this)">T</td>
                <td onclick="tempAZ(this)">U</td>
                <td onclick="tempAZ(this)">V</td>
                <td onclick="tempAZ(this)">W</td>
                <td onclick="tempAZ(this)">X</td>
                <td onclick="tempAZ(this)">Y</td>
                <td onclick="tempAZ(this)">Z</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="countryOverflow-list-plate">
        <table id="continentData">
            <tbody>
            <tr>
                <td class="plate-div plate-div-active" onclick="worldList(0)"><div>亚洲</div></td>
                <td class="plate-div" onclick="worldList(1)"><div>欧洲</div></td>
                <td class="plate-div" onclick="worldList(2)"><div>非洲</div></td>
                <td class="plate-div" onclick="worldList(3)"><div>大洋洲</div></td>
                <td class="plate-div" onclick="worldList(4)"><div>南美洲</div></td>
                <td class="plate-div" onclick="worldList(5)"><div>北美洲</div></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="countryOverflow-list-content" id="listContent">
        <div id="listContentContent">
            <div class="list-content-div">
                <div class="list-content-div1" id="contentA">
                    <div class="list-content-div1-content">A</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentB">
                    <div class="list-content-div1-content">B</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentC">
                    <div class="list-content-div1-content">C</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentD">
                    <div class="list-content-div1-content">D</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentE">
                    <div class="list-content-div1-content">E</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentF">
                    <div class="list-content-div1-content">F</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentG">
                    <div class="list-content-div1-content">G</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentH">
                    <div class="list-content-div1-content">H</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentI">
                    <div class="list-content-div1-content">I</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentJ">
                    <div class="list-content-div1-content">J</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentK">
                    <div class="list-content-div1-content">K</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentL">
                    <div class="list-content-div1-content">L</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentM">
                    <div class="list-content-div1-content">M</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentN">
                    <div class="list-content-div1-content">N</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentO">
                    <div class="list-content-div1-content">O</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentP">
                    <div class="list-content-div1-content">P</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentQ">
                    <div class="list-content-div1-content">Q</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentR">
                    <div class="list-content-div1-content">R</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentS">
                    <div class="list-content-div1-content">S</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentT">
                    <div class="list-content-div1-content">T</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
            <div class="list-content-div">
                <div class="list-content-div1" id="contentU">
                    <div class="list-content-div1-content">U</div>
                </div>
                <div class="list-content-div2">
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                    <div class="content-div2-title">
                        阿富汗斯坦<br>
                        <div class="content-div2-bar">
                            <div class="content-div2-bar-color-top" style="width: 50%"></div>
                        </div>
                        32190
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-Dang"></div>
</div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/world.js"></script>
<script src="../js/highcharts.js"></script>
<script src="../js/highcharts-3d.js"></script>
<script src="../js/countryOverflow.js"></script>
</body>
</html>