<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/report.css" type="text/css" />
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script>
        $(document).ready(function(){
            echarts1();
            echarts2();
            echarts3();
            echarts4();
            echarts5();
            echarts6();
        })

        function echarts1() {
            var option = {
                backgroundColor: '#F9FAFA',
                title:{
                    text:'当日趋势',
                    x: 'center',
                    textStyle: {
                        color: '#000',
                        fontSize: '16',
                        fontWeight:600
                    },
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        lineStyle: {
                            color: '#57617B'
                        }
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        axisLine: {
                            lineStyle: {
                                color: '#353735'
                            }
                        },
                        axisLabel: {
                            margin: 10,
                            textStyle: {
                                color: '#353735'
                            }
                        },
                        axisTick: {
                            show: true
                        },
                        data: ['20180401','20180405','20180410','20180415','20180420','20180425','20180430',]
                    }],
                yAxis: [{
                    type: 'value',
                    axisTick: {
                        show: true
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0E2A43'
                        }
                    },
                    axisLabel: {
                        margin: 10,
                        textStyle: {
                            color: '#353735'
                        }
                    },
                    splitLine: {
                        show: false,
                        lineStyle: {
                            color: '#57617B'
                        }
                    }
                }],
                series: [{
                    name: '移动',
                    type: 'line',
                    smooth: true,
                    lineStyle: {
                        normal: {
                            width: 2,
                            color: '#FD9B86'
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(252,181,169, 1)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(249,159,180, 1)'
                            }], false),
                        }
                    },
                    data: [22000, 18200, 19100, 13400, 25000, 12000, 11000,]
                }]
            };
            var chart = echarts.init(document.getElementById('echarts1'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }

        function echarts2() {
            var option = {
                backgroundColor: "#F9FAFA",
                title:{
                    text:'月累计趋势',
                    x: 'center',
                    textStyle: {
                        color: '#000',
                        fontSize: '16',
                        fontWeight:600
                    },
                },
                legend: {
                    data: ['累计环比', '本月累计'],
                    textStyle: {
                        color: 'gray'
                    },
                    x:'center',
                    y:'85%'
                },
                "tooltip": {
                    "trigger": "axis",
                    "axisPointer": {
                        "type": "shadow",
                        textStyle: {
                            color: "#fff"
                        }

                    },
                },
                "grid": {
                    "borderWidth": 0,
                    "bottom": '20%',
                    textStyle: {
                        color: "#fff"
                    }
                },
                "xAxis": [{
                    "type": "category",
                    "axisLine": {
                        lineStyle: {
                            color: '#90979c'
                        }
                    },
                    "splitLine": {
                        "show": false
                    },
                    "axisTick": {
                        "show": false
                    },
                    "splitArea": {
                        "show": false
                    },
                    "data": ['201706','201707','201708','201709','201710','201711','201712','201801','201802','201803','201804','201805',],
                }],
                "yAxis": [{
                    "type": "value",
                    show:false,
                    "splitLine": {
                        "show": false
                    },
                    "axisLine": {
                        lineStyle: {
                            color: '#90979c'
                        }
                    },
                    "axisTick": {
                        "show": false
                    },
                    "axisLabel": {
                        "interval": 0,

                    },
                    "splitArea": {
                        "show": false
                    },

                }],
                "series": [

                    {
                        "name": "本月累计",
                        "type": "bar",
                        "stack": "总量",
                        "itemStyle": {
                            "normal": {
                                "color": "#569DE5",
                                "barBorderRadius": 0,
                                "label": {
                                    "show": false,
                                    "position": "top"
                                }
                            }
                        },
                        "data": [
                            327,
                            1776,
                            507,
                            1200,
                            800,
                            482,
                            204,
                            1390,
                            1001,
                            951,
                            381,
                            220
                        ]
                    }, {
                        "name": "累计环比",
                        "type": "line",
                        symbolSize:10,
                        symbol:'circle',
                        "itemStyle": {
                            "normal": {
                                "color": "#A6A7A7",
                                "barBorderRadius": 0,
                                "label": {
                                    "show": true,
                                    "position": "top",
                                    formatter: function(p) {
                                        return p.value > 0 ? (p.value) : '';
                                    }
                                }
                            }
                        },
                        "data": [
                            1036,
                            3693,
                            2962,
                            3810,
                            2519,
                            1915,
                            1748,
                            4675,
                            6209,
                            4323,
                            2865,
                            4298
                        ]
                    },
                ]
            }
            var chart = echarts.init(document.getElementById('echarts2'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }

        function echarts3() {
            var option = {
                backgroundColor: "#F9FAFA",
                title:{
                    text:'分地域情况',
                    x: 'center',
                    textStyle: {
                        color: '#000',
                        fontSize: '16',
                        fontWeight:600
                    },
                },
                legend: {
                    data: ['累计环比', '本月累计'],
                    textStyle: {
                        color: 'gray'
                    },
                    x:'center',
                    y:'85%'
                },
                "tooltip": {
                    "trigger": "axis",
                    "axisPointer": {
                        "type": "shadow",
                        textStyle: {
                            color: "#fff"
                        }

                    },
                },
                "grid": {
                    "borderWidth": 0,
                    "bottom": '30%',
                    textStyle: {
                        color: "#fff"
                    }
                },
                "xAxis": [{
                    "type": "category",
                    "axisLine": {
                        lineStyle: {
                            color: '#90979c'
                        }
                    },
                    "splitLine": {
                        "show": false
                    },
                    "axisLabel": {
                        interval: 0,
                        formatter:function(value){
                            return value.split("").join("\n");
                        }

                    },
                    "axisTick": {
                        "show": false
                    },
                    "splitArea": {
                        "show": false
                    },
                    "data": ['东莞','佛山','深圳','广州','汕头','江门','珠海','中山','肇庆','惠州','湛江','汕尾','云浮','河源','茂名','潮州','揭阳','韶关','阳江','清远','梅州',,],
                }],
                "yAxis": [{
                    "type": "value",
                    "splitLine": {
                        "show": false
                    },
                    "axisLine": {
                        lineStyle: {
                            color: '#90979c'
                        }
                    },
                    "axisTick": {
                        "show": false
                    },
                    "axisLabel": {
                        interval: 0

                    },
                    "splitArea": {
                        "show": false
                    },

                }],
                "series": [

                    {
                        "name": "本月累计",
                        "type": "bar",
                        barWidth: '30%',
                        "stack": "总量",
                        "itemStyle": {
                            "normal": {
                                "color": "#59B8DF",
                                "barBorderRadius": 20,
                                "label": {
                                    "show": false,
                                    "position": "top"
                                }
                            }
                        },
                        "data": [
                            327,
                            1776,
                            507,
                            1200,
                            800,
                            482,
                            204,
                            1390,
                            1001,
                            951,
                            381,
                            220,
                            327,
                            1776,
                            507,
                            1200,
                            800,
                            482,
                            204,
                            1390,
                            1001,
                        ]
                    }, {
                        "name": "累计环比",
                        "type": "line",
                        symbolSize:10,
                        symbol:'circle',
                        "itemStyle": {
                            "normal": {
                                "color": "#A6A7A7",
                                "barBorderRadius": 0,
                                "label": {
                                    "show": false,
                                    "position": "top",
                                    formatter: function(p) {
                                        return p.value > 0 ? (p.value) : '';
                                    }
                                }
                            }
                        },
                        "data": [
                            1036,
                            3693,
                            2962,
                            3810,
                            2519,
                            1915,
                            1748,
                            4675,
                            6209,
                            4323,
                            2865,
                            4298,
                            1036,
                            3693,
                            2962,
                            3810,
                            2519,
                            1915,
                            1748,
                            4675,
                            6209,
                        ]
                    },
                ]
            }
            var chart = echarts.init(document.getElementById('echarts3'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }

        function echarts4() {
            var option = {
                backgroundColor: "#F9FAFA",
                title: {
                    text: '渠道结构',
                    left: 'center',
                },
                tooltip: {
                    show: true
                },
                legend: {
                    //type:'scroll',
                    bottom: 10,
                    x: 'center',
                    selected:{
                        'others':false
                    },
                    data: ['电子渠道', '集团渠道', '实体渠道', '其他渠道']
                },

                series: [{
                    type: 'pie',
                    radius: ['20%', '50%'],
                    roseType: 'area',
                    zlevel: 2,
                    tooltip: {
                        formatter: '{b}: {c}%'
                    },
                    label: {
                        normal:{
                            show: true,
                            formatter: '{c}%'
                        }
                    },
                    data: [
                        {
                            value: 10.4,
                            name: '电子渠道'
                        },
                        {
                            value: 6.3,
                            name: '集团渠道'
                        },
                        {
                            value: 21.6,
                            name: '实体渠道'
                        },
                        {
                            value: 7.6,
                            name: '其他渠道'
                        }
                    ]
                }]
            };
            var chart = echarts.init(document.getElementById('echarts4'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }

        function echarts5() {
            var option = {
                backgroundColor: "#F9FAFA",
                title: {
                    text: '产品结构',
                    left: 'center',
                },
                tooltip: {
                    show: true
                },
                legend: {
                    //type:'scroll',
                    bottom: 10,
                    x: 'center',
                    selected:{
                        'others':false
                    },
                    data: ['2I2产品', '冰激凌套餐', '流量王A套餐', 'B租卡', '其他套餐']
                },

                series: [{
                    type: 'pie',
                    radius: ['20%', '50%'],
                    roseType: 'area',
                    zlevel: 2,
                    tooltip: {
                        formatter: '{b}: {c}%'
                    },
                    label: {
                        normal:{
                            show: true,
                            formatter: '{c}%'
                        }
                    },
                    data: [{
                        value: 14.7,
                        name: '2I2产品'
                    },
                        {
                            value: 10.4,
                            name: '冰激凌套餐'
                        },
                        {
                            value: 6.3,
                            name: '流量王A套餐'
                        },
                        {
                            value: 21.6,
                            name: 'B租卡'
                        },
                        {
                            value: 39.4,
                            name: '其他套餐'
                        }
                    ]
                }]
            };
            var chart = echarts.init(document.getElementById('echarts5'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }

        function echarts6() {
            var option = {
                backgroundColor: "#F9FAFA",
                title: {
                    text: '业务结构',
                    left: 'center',
                },
                tooltip: {
                    show: true
                },
                legend: {
                    //type:'scroll',
                    bottom: 10,
                    x: 'center',
                    selected:{
                        'others':false
                    },
                    data: ['2G业务', '3G业务', '4G业务', '其他业务']
                },

                series: [{
                    type: 'pie',
                    radius: ['20%', '50%'],
                    roseType: 'area',
                    zlevel: 2,
                    tooltip: {
                        formatter: '{b}: {c}%'
                    },
                    label: {
                        normal:{
                            show: true,
                            formatter: '{c}%'
                        }
                    },
                    data: [{
                        value: 14.7,
                        name: '2G业务'
                    },
                        {
                            value: 10.4,
                            name: '3G业务'
                        },
                        {
                            value: 6.3,
                            name: '4G业务'
                        },
                        {
                            value: 21.6,
                            name: '其他业务'
                        }
                    ]
                }]
            };
            var chart = echarts.init(document.getElementById('echarts6'));
            chart.setOption(option);
            $(window).resize(function() {
                chart.resize();
            });
        }
    </script>
</head>
<body>
    <div class="titleDiv">2018年4月4G出账收入分析</div>
    <div class="allNum">总收入:<span style="color: #FCB5A9;font-size: 30px; margin: 0 20px;font-weight: 600;">11034.59</span>亿元</div>
    <div style="height: 60px;margin-top:20px;">
        <table style="width: 100%;height:100%;text-align: center">
            <tbody>
            <tr>
                <td>语音套餐</td>
                <td>流量套餐</td>
                <td>合约套餐</td>
                <td>共享套餐</td>
            </tr>
            <tr style="color: #00a2ae">
                <td>3931.31</td>
                <td>2285.08</td>
                <td>4724.18</td>
                <td>63.70</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 350px;padding: 16px;">
        <div id="echarts1" style="width: 49%;height:100%;float: left;margin-right: 2%"></div>
        <div id="echarts2" style="width: 49%;height:100%;float: left;"></div>
    </div>

    <div style="height: 350px;padding: 16px;">
        <div id="echarts3" style="width: 60%;height:100%;float: left;margin-right: 2%"></div>
        <div style="width: 38%;height:100%;float: left;background-color: #F9FAFA;">
            <table style="height: 90%;width: 100%;text-align: center;font-size: 14px;">
                <tbody>
                <tr style="font-size: 16px;font-weight: 600;height: 30px;">
                    <td colspan="4">地市排名</td>
                </tr>
                <tr style="font-size: 12px;color: grey;">
                    <td>排名</td>
                    <td>地市</td>
                    <td>本月累计</td>
                    <td>累计环比</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>广东-东莞</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>广东-佛山</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>广东-深圳</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>广东-广州</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>广东-汕头</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>广东-江门</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>广东-珠海</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>广东-中山</td>
                    <td style="color: #43A118">256.32</td>
                    <td style="color: #43A118">2.25%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="height: 350px;padding: 16px;">
        <div id="echarts4" style="width: 32%;height:100%;float: left;margin-right: 2%"></div>
        <div id="echarts5" style="width: 32%;height:100%;float: left;margin-right: 2%"></div>
        <div id="echarts6" style="width: 32%;height:100%;float: left;"></div>
    </div>
    <div style="height: 350px;padding: 16px;">
        <table style="width: 100%;height: 100%;text-align: center">
            <tbody>
            <tr style="background-color: #EFEFEF">
                <th>套餐类型</th>
                <th>本月收入（万元）</th>
                <th>上月收入（收入）</th>
                <th>环比增长</th>
                <th>去年同期收入（万元）</th>
                <th>同比增长</th>
                <th>今年累计收入（万元）</th>
                <th>去年同期累计收入（万元）</th>
                <th>年度累计环比增长</th>
            </tr>
            <tr>
                <td>全部</td>
                <td>46454244</td>
                <td>45421215</td>
                <td style="color: #0A840A;">-7.58%</td>
                <td>5646464</td>
                <td style="color: #0A840A;">365412</td>
                <td>36521</td>
                <td>365441</td>
                <td style="color: #0A840A;">365412</td>
            </tr>
            <tr>
                <td>语音套餐</td>
                <td>46454244</td>
                <td>45421215</td>
                <td style="color: #0A840A;">-7.58%</td>
                <td>5646464</td>
                <td style="color: #0A840A;">365412</td>
                <td>36521</td>
                <td>365441</td>
                <td style="color: #0A840A;">365412</td>
            </tr>
            <tr>
                <td>流量套餐</td>
                <td>46454244</td>
                <td>45421215</td>
                <td style="color: #0A840A;">-7.58%</td>
                <td>5646464</td>
                <td style="color: #0A840A;">365412</td>
                <td>36521</td>
                <td>365441</td>
                <td style="color: #0A840A;">365412</td>
            </tr>
            <tr>
                <td>合约套餐</td>
                <td>46454244</td>
                <td>45421215</td>
                <td style="color: #0A840A;">-7.58%</td>
                <td>5646464</td>
                <td style="color: #0A840A;">365412</td>
                <td>36521</td>
                <td>365441</td>
                <td style="color: #0A840A;">365412</td>
            </tr>
            <tr>
                <td>共享套餐</td>
                <td>46454244</td>
                <td>45421215</td>
                <td style="color: #0A840A;">-7.58%</td>
                <td>5646464</td>
                <td style="color: #0A840A;">365412</td>
                <td>36521</td>
                <td>365441</td>
                <td style="color: #0A840A;">365412</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="padding: 16px;border-top: solid 3px #EFEFEF;line-height: 30px;">
        <p>2018年6月4G出账收入为3584564万元，环比
            <span style="color: #0A840A;font-weight: 600;">下跌 110784</span>
        万元，<span style="font-weight: 600;">跌幅 3.00%</span>,同比
            <span style="color: #0A840A;font-weight: 600;">下跌 4740.41</span>万元，
            <span style="font-weight: 600">跌幅</span>
            <span style="color: #0A840A;font-weight: 600;">11.68%</span>。
            其中：
            <span style="font-weight: 600">云浮市</span>计费出账收入
            <span style="font-weight: 600">2793565</span>万元，环比
            <span style="color: #0A840A;font-weight: 600;">下跌 197.43</span>万元，
            <span style="font-weight: 600">跌幅 4.76%</span>，同比
            <span style="color: #0A840A;font-weight: 600;">下跌 5681.51</span>万元，
            <span style="font-weight: 600">跌幅</span>
            <span style="color: #0A840A;font-weight: 600;">16.9%</span>;
            <span style="font-weight: 600">广州市</span>计费出账收入7909.99万元，环比
            <span style="color: #F90404;font-weight: 600;">上涨 289.60</span>万元，
            <span style="font-weight: 600">涨幅 3.80%</span>，同比
            <span style="color: #F90404;font-weight: 600;">上涨 941.10</span>万元，
            <span style="font-weight: 600">涨幅</span>
            <span style="color: #F90404;font-weight: 600;">13.5%</span>；
            与上月相比，4G计费出账收入环比增长率前两名为广州（
            <span style="color: #F90404;font-weight: 600;">15.02%</span>）和深圳（
            <span style="color: #F90404;font-weight: 600;">4.06%</span>
            ）后两名为云浮（
            <span style="color: #0A840A;font-weight: 600;">-19.51%</span>）和汕尾（
            <span style="color: #0A840A;font-weight: 600;">-5.15%</span>）；与去年同期相比，4G
            计费出账收入同比增幅较大的为韶关（
            <span style="color: #F90404;font-weight: 600;">5.59%</span>）和阳江（
            <span style="color: #0A840A;font-weight: 600;">-3.89%</span>）；4G年度累计出账收入增幅较大的为：
            清远（
            <span style="color: #F90404;font-weight: 600;">5.59%</span>）和肇庆（
            <span style="color: #0A840A;font-weight: 600;">-0.20%</span>）。
        </p>
    </div>
</body>
</html>